# Supabase database connection string for running SQL seed scripts
# Project Settings -> Database
SUPABASE_DB_URL=postgresql://postgres:[YOUR-PASSWORD]@db.krfajqftedduzgwiyatf.supabase.co:5432/postgres
